<div class="container agendamento">
  <div class="row">
    <div class="col-8">
      <h1 class="agendamento__title">
        <span>Horários Agendados</span>
        <ul>
          <li>Hoje</li>
          <li>Dia 06</li>
          <li>Segunda-feira</li>
        </ul>
        <button mat-raised-button class="agendamento__button">
          <mat-icon>add</mat-icon>
          Novo Agendamento
        </button>
      </h1>
      <div class="atendimento">
        <app-lista-atendimento></app-lista-atendimento>
      </div>
    </div>
    <div class="col-4">Calendario</div>
  </div>
</div>
