<div class="row dashboard">
  <div class="row dashboard__topnav">
    <div class="container topnav">
      <div class="col-2 topnav__logo">
        <img src="assets/logo.png" class="topnav__image" alt="Logo Empresa" />
      </div>
      <div class="col-3 offset-7">
        <div class="boxUser">
          <div class="boxUser__img">
            <img
              src="assets/avatar_base.png"
              alt="Avatar Usuario"
              class="boxUser__avatar"
            />
          </div>
          <div class="boxUser__infos">
            <span class="boxUser__title">Bem vindo,</span>
            <span class="boxUser__name">Jorge Henrique</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-agendamentos></app-agendamentos>
</div>
