<div class="row atendimento">
  <h2 class="atendimento__title">Atendimento a seguir</h2>
  <div class="row lista">
    <div class="col-2 lista__foto">
      <img
        src="assets/avatar_base.png"
        alt="Lista Avatar"
        class="lista__avatar"
      />
    </div>
    <div class="col-6 lista__nome">Leonardo Minatti</div>
    <div class="col-4 lista__horario">
      <mat-icon>access_time</mat-icon>
      <span>8:00</span>
    </div>
  </div>
  <div class="row proximoAtendimento">
    <h2 class="atendimento__title">Proximos agendamentos</h2>
    <app-lista></app-lista>
  </div>
</div>
