<ul class="listaAgendamento">
  <li class="listaAgendamento__item">
    <div class="row containerAgenda">
      <div class="col-2 containerAgenda__horario">
        <mat-icon>access_time</mat-icon>
        <span>8:00</span>
      </div>
      <div class="col-10">
        <div class="agendaItem">
          <div class="col-2 agendaItem__foto">
            <img
              src="assets/avatar_base.png"
              alt="Lista Avatar"
              class="agendaItem__avatar"
            />
          </div>
          <div class="agendaItem__nome">Danilo Ferreira</div>
        </div>
      </div>
    </div>
  </li>

  <li class="listaAgendamento__item">
    <div class="row containerAgenda">
      <div class="col-2 containerAgenda__horario">
        <mat-icon>access_time</mat-icon>
        <span>8:30</span>
      </div>
      <div class="col-10">
        <div class="agendaItem">
          <div class="col-2 agendaItem__foto">
            <img
              src="assets/avatar_base.png"
              alt="Lista Avatar"
              class="agendaItem__avatar"
            />
          </div>
          <div class="agendaItem__nome">Marcelo Carvalho</div>
        </div>
      </div>
    </div>
  </li>
  <li class="listaAgendamento__item">
    <div class="row containerAgenda">
      <div class="col-2 containerAgenda__horario">
        <mat-icon>access_time</mat-icon>
        <span>9:00</span>
      </div>
      <div class="col-10">
        <div class="agendaItem">
          <div class="col-2 agendaItem__foto">
            <img
              src="assets/avatar_base.png"
              alt="Lista Avatar"
              class="agendaItem__avatar"
            />
          </div>
          <div class="agendaItem__nome">Julia Fonseca</div>
        </div>
      </div>
    </div>
  </li>
</ul>
