<div class="row boxLogin">
  <div class="col boxLogin__item boxLogin__form">
    <div class="row login justify-content-center align-items-center">
      <div class="col-7 login__boxForm">
        <img src="assets/logo.png" class="login__logo" alt="Logo Go Barber" />
        <div class="form">
          <h2 class="form__title">Faça seu login</h2>
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <mat-form-field appearance="fill" class="form__field">
              <mat-label>Email</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input
                type="email"
                name="email"
                id="email"
                [(ngModel)]="login.email"
                matInput
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form__field">
              <mat-icon matPrefix>vpn_key</mat-icon>
              <mat-label>Senha</mat-label>
              <input
                type="password"
                name="password"
                id="password"
                [(ngModel)]="login.password"
                matInput
              />
            </mat-form-field>
          </form>
          <button
            type="submit"
            mat-raised-button
            (click)="onSubmit()"
            class="form__button"
            [disabled]="form.form.invalid"
          >
            Entrar
          </button>
          <a href="#" class="form__remember">Esqueci minha senha</a>
          <a routerLink="/register" class="form__create">
            <mat-icon matPrefix>login</mat-icon>
            <span>Criar conta</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col boxLogin__item boxLogin__bg">&nbsp;</div>
</div>
